<div ng-transclude></div>
<form class="form" ng-submit="optinForm.$valid && submit()" name="optinForm" novalidate>
  <div class="field-wrapper">
    <label>First Name</label>
    <input type="text" required name="fname" ng-model="fname">
  </div>
  <div class="field-wrapper">
    <label>Last Name</label>
    <input type="text" required name="lname" ng-model="lname">
  </div>
  <div class="field-wrapper">
    <label>Email</label>
    <input type="email" required name="email" ng-model="email">
  </div>
  <input type="submit">
</form>